In [2]:
import pandas as pd
import csv

In [3]:
compiled_data = pd.read_excel('CompiledData.xlsx')
compiled_data

,planetName,planetRadius,planetMassKG,planetMassEarth,planetMassJupiter,planetType,stellarMass,planetaryOrbitPeriod,stellarRA,stellarDec,planet_status,kepplerType,DistanceFromEarth
0,OGLE-2016-BLG-1469L b,NaN,8.122192e+25,13.60000,0.042780,NaN,0.0480,NaN,271.946,-26.2899,CONFIRMED,NaN,NaN
1,11 Com b,NaN,1.158607e+26,19.40000,0.061024,NaN,2.7000,326.03000,185.179,17.7928,CONFIRMED,NaN,NaN
2,11 Oph b,NaN,1.254162e+26,21.00000,0.066057,NaN,0.0162,730000.00000,245.604,-24.0872,CONFIRMED,NaN,NaN
3,11 UMi b,NaN,6.270810e+25,10.50000,0.033029,NaN,1.8000,516.22000,229.275,71.8239,CONFIRMED,NaN,NaN
4,14 And b,NaN,3.183183e+25,5.33000,0.016766,NaN,2.2000,185.84000,352.821,39.2361,CONFIRMED,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6085,YBP1514 b,NaN,2.388880e+24,0.40000,0.001258,NaN,0.9600,5.11800,132.754,11.8867,CONFIRMED,NaN,NaN
6086,YBP401 b,NaN,2.747212e+24,0.46000,0.001447,NaN,1.1400,4.08700,132.829,11.6711,CONFIRMED,NaN,NaN
6087,YZ Cet b,NaN,1.433328e+22,0.00240,0.000008,NaN,0.1300,1.96876,18.1271,-16.9989,CONFIRMED,NaN,NaN
6088,YZ Cet c,NaN,1.851382e+22,0.00310,0.000010,NaN,0.1300,3.06008,18.1271,-16.9989,CONFIRMED,NaN,NaN
6089,YZ Cet d,NaN,2.144020e+22,0.00359,0.000011,NaN,0.1300,4.65627,18.1271,-16.9989,CONFIRMED,NaN,NaN

In [4]:
planet_att = compiled_data.iloc[:,[0,1,2,3,4,6]]
planet_att

,planetName,planetRadius,planetMassKG,planetMassEarth,planetMassJupiter,stellarMass
0,OGLE-2016-BLG-1469L b,NaN,8.122192e+25,13.60000,0.042780,0.0480
1,11 Com b,NaN,1.158607e+26,19.40000,0.061024,2.7000
2,11 Oph b,NaN,1.254162e+26,21.00000,0.066057,0.0162
3,11 UMi b,NaN,6.270810e+25,10.50000,0.033029,1.8000
4,14 And b,NaN,3.183183e+25,5.33000,0.016766,2.2000
...,...,...,...,...,...,...
6085,YBP1514 b,NaN,2.388880e+24,0.40000,0.001258,0.9600
6086,YBP401 b,NaN,2.747212e+24,0.46000,0.001447,1.1400
6087,YZ Cet b,NaN,1.433328e+22,0.00240,0.000008,0.1300
6088,YZ Cet c,NaN,1.851382e+22,0.00310,0.000010,0.1300
6089,YZ Cet d,NaN,2.144020e+22,0.00359,0.000011,0.1300

In [5]:
planet_att.to_csv('ExoPlanetAttribute.csv')

In [6]:
exo_planet_size_att = compiled_data.iloc[:,[2,3,4,5,6]]
exo_planet_size_att

      planetMassKG  planetMassEarth  planetMassJupiter planetType  stellarMass
0     8.122192e+25         13.60000           0.042780        NaN       0.0480
1     1.158607e+26         19.40000           0.061024        NaN       2.7000
2     1.254162e+26         21.00000           0.066057        NaN       0.0162
3     6.270810e+25         10.50000           0.033029        NaN       1.8000
4     3.183183e+25          5.33000           0.016766        NaN       2.2000
...            ...              ...                ...        ...          ...
6085  2.388880e+24          0.40000           0.001258        NaN       0.9600
6086  2.747212e+24          0.46000           0.001447        NaN       1.1400
6087  1.433328e+22          0.00240           0.000008        NaN       0.1300
6088  1.851382e+22          0.00310           0.000010        NaN       0.1300
6089  2.144020e+22          0.00359           0.000011        NaN       0.1300

[6090 rows x 5 columns]

In [7]:
exo_planet_size_att.to_csv('Exo_Planet_Size_Att.csv')

In [9]:
exo_planet_stellar_att = compiled_data.iloc[:,[6,7,8,9]]
exo_planet_stellar_att

      stellarMass  planetaryOrbitPeriod stellarRA stellarDec
0          0.0480                   NaN   271.946   -26.2899
1          2.7000             326.03000   185.179    17.7928
2          0.0162          730000.00000   245.604   -24.0872
3          1.8000             516.22000   229.275    71.8239
4          2.2000             185.84000   352.821    39.2361
...           ...                   ...       ...        ...
6085       0.9600               5.11800   132.754    11.8867
6086       1.1400               4.08700   132.829    11.6711
6087       0.1300               1.96876   18.1271   -16.9989
6088       0.1300               3.06008   18.1271   -16.9989
6089       0.1300               4.65627   18.1271   -16.9989

[6090 rows x 4 columns]

In [10]:
exo_planet_stellar_att.to_csv('Exo_Planet_Stellar_Att.csv')