In [42]:
#Import Dependencies
import pandas as pd 
import numpy as np
import json
import time

In [81]:
#read and Display CSV file
aliastable = pd.read_csv('Input/aliastable.csv')
aliastable.head()

                  aliasdis
0                  bet Pic
1  2MASS J05471708-5103594
2               CD-51 1620
3               CPD-51 774
4                   GJ 219

In [82]:
#read and Display CSV file
cumulative = pd.read_csv('Input/cumulative.csv')
cumulative.head()

,kepid,kepoi_name,kepler_name,koi_disposition,koi_pdisposition,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,koi_fpflag_ec,...,koi_slogg,koi_slogg_err1,koi_slogg_err2,koi_srad,koi_srad_err1,koi_srad_err2,ra_str,dec_str,koi_kepmag,koi_kepmag_err
0,10797460,K00752.01,Kepler-227 b,CONFIRMED,CANDIDATE,1.000,0,0,0,0,...,4.467,0.064,-0.096,0.927,0.105,-0.061,19h27m44.22s,+48d08m29.9s,15.347,NaN
1,10797460,K00752.02,Kepler-227 c,CONFIRMED,CANDIDATE,0.969,0,0,0,0,...,4.467,0.064,-0.096,0.927,0.105,-0.061,19h27m44.22s,+48d08m29.9s,15.347,NaN
2,10811496,K00753.01,NaN,CANDIDATE,CANDIDATE,0.000,0,0,0,0,...,4.544,0.044,-0.176,0.868,0.233,-0.078,19h48m01.16s,+48d08m02.9s,15.436,NaN
3,10848459,K00754.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,0,...,4.564,0.053,-0.168,0.791,0.201,-0.067,19h02m08.31s,+48d17m06.8s,15.597,NaN
4,10854555,K00755.01,Kepler-664 b,CONFIRMED,CANDIDATE,1.000,0,0,0,0,...,4.438,0.070,-0.210,1.046,0.334,-0.133,19h15m01.17s,+48d13m34.3s,15.509,NaN

In [79]:
#read and Display CSV file
k2candidates = pd.read_csv('Input/k2candidates.csv')
k2candidates.head()

,epic_name,epic_candname,pl_name,k2c_refdisp,k2c_reflink,k2c_disp,k2c_note,k2_campaign_str,k2c_recentflag,pl_orbper,...,st_rad,st_raderr1,st_raderr2,st_radlim,st_kep,st_keperr,st_keplim,st_k2,st_k2err,st_k2lim
0,EPIC 205999468,EPIC 205999468.01,NaN,CANDIDATE,<a refstr=VANDERBURG_ET_AL__2016 href=https://...,CANDIDATE,NaN,3.0,0,12.263354,...,0.76,NaN,NaN,0.0,12.932,NaN,0.0,11.011,0.024,0.0
1,EPIC 206007892,EPIC 206007892.01,K2-169 b,CANDIDATE,<a refstr=VANDERBURG_ET_AL__2016 href=https://...,CONFIRMED,NaN,3.0,0,6.379610,...,0.83,NaN,NaN,0.0,12.023,NaN,0.0,10.371,0.021,0.0
2,EPIC 206008091,EPIC 206008091.01,K2-170 c,CANDIDATE,<a refstr=VANDERBURG_ET_AL__2016 href=https://...,CONFIRMED,NaN,3.0,0,12.400731,...,0.98,NaN,NaN,0.0,12.506,NaN,0.0,11.075,0.021,0.0
3,EPIC 206008091,EPIC 206008091.02,K2-170 b,CANDIDATE,<a refstr=VANDERBURG_ET_AL__2016 href=https://...,CONFIRMED,NaN,3.0,0,7.576721,...,0.98,NaN,NaN,0.0,12.506,NaN,0.0,11.075,0.021,0.0
4,EPIC 206011496,EPIC 206011496.01,K2-265 b,CANDIDATE,<a refstr=VANDERBURG_ET_AL__2016 href=https://...,CONFIRMED,NaN,3.0,0,2.369044,...,0.81,NaN,NaN,0.0,10.916,NaN,0.0,9.259,0.027,0.0

In [78]:
#read and Display CSV file
k2targets = pd.read_csv('Input/k2targets.csv',low_memory=False)
k2targets.head()

,epic_number,tm_name,k2_campaign_str,k2_type,rastr,decstr,k2_propid,k2_dist,k2_disterr1,k2_disterr2,...,k2_mass,k2_masserr1,k2_masserr2,k2_kepmag,k2_kepmagerr,k2_kepmagflag,k2_vjmag,k2_vjmagerr,k2_kmag,k2_kmagerr
0,60018365,2MASS J23391492-0556597,E,NaN,23h39m14.93s,-05d56m59.7s,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,10.12,NaN,NaN,NaN,NaN,8.751,0.019
1,60018369,2MASS J23550014-0224072,E,NaN,23h55m00.15s,-02d24m07.1s,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,10.14,NaN,NaN,NaN,NaN,8.975,0.021
2,60018371,2MASS J23572163+0041200,E,NaN,23h57m21.64s,+00d41m19.9s,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,10.14,NaN,NaN,NaN,NaN,8.632,0.027
3,60018372,2MASS J23392604-0328341,E,NaN,23h39m26.04s,-03d28m34.0s,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,10.15,NaN,NaN,NaN,NaN,8.955,0.023
4,60018374,2MASS J00035057+0046323,E,NaN,00h03m50.59s,+00d46m32.4s,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,10.15,NaN,NaN,NaN,NaN,8.928,0.023

In [77]:
#read and Display CSV file
kelttimeseries = pd.read_csv('Input/kelttimeseries.csv')
kelttimeseries.head()

,kelt_sourceid,kelt_field,kelt_orientation,proc_type,kelt_proc_version,ra,dec,kelt_mag,obsstart,obsstop,...,median,stddevwrtmedian,npts,n5sigma,f5sigma,medabsdev,chisquared,range595,minvalue,maxvalue
0,KELT_N02_lc_001388_V01_east,N02,east,raw,V01,21.59602,20.06730,10.416,2006-10-26 04:44:09.0,2008-11-24 04:44:47.0,...,10.435390,0.090659,1792,10,0.005580,0.012580,18610.842704,0.13739,9.76378,12.73804
1,KELT_N02_lc_001388_V01_east,N02,west,raw,V01,21.59602,20.06730,10.337,2006-10-27 07:06:26.0,2008-11-24 09:34:38.0,...,10.355590,0.125490,602,1,0.001661,0.018055,50739.963721,0.12634,10.29261,13.17885
2,KELT_N02_lc_001953_V01_east,N02,east,raw,V01,34.78578,19.68645,10.985,2006-10-26 04:44:09.0,2008-11-24 04:44:47.0,...,10.988280,0.020182,1792,5,0.002790,0.006225,223.723020,0.03952,10.84984,11.53405
3,KELT_N02_lc_009602_V01_east,N02,east,raw,V01,41.86608,19.36974,10.953,2006-10-26 04:44:09.0,2008-11-24 04:44:47.0,...,10.952100,0.020207,1792,9,0.005022,0.007535,270.232285,0.04231,10.69700,11.28750
4,KELT_N02_lc_008534_V01_east,N02,west,raw,V01,41.81501,22.95839,10.951,2006-10-27 07:06:26.0,2008-11-24 09:34:38.0,...,10.964275,0.119235,602,3,0.004983,0.014935,12409.187760,0.09927,8.38970,11.59796

In [74]:
#read and Display CSV file
keplerstellar = pd.read_csv('Input/keplerstellar.csv',low_memory = False)
keplerstellar.head

EmptyDataError: No columns to parse from file

In [76]:
#read and Display CSV file
mission_exocat = pd.read_csv('Input/mission_exocat.csv')
mission_exocat.head()

,star_name,hip_name,hd_name,gj_name,tm_name,st_exocatflag,st_coronagflag,st_starshadeflag,st_wfirstflag,st_lbtiflag,...,st_vmag,st_vmagerr,st_vmagsrc,st_bmv,st_bmverr,st_bmvsrc,st_spttype,st_lbol,st_lbolerr,st_lbolsrc
0,HIP 3185,HIP 3185,HD 3795,GJ 27.2,2MASS J00403279-2348172,1,0,0,0,0,...,6.14,0.01,G,0.72,0.01,G,G3/5V,2.76,0.11,B-V
1,HIP 3203 A,HIP 3203 A,HD 3821,GJ 9020 A,2MASS J00404747-0713574,1,0,0,0,0,...,7.02,0.01,G,0.62,0.02,G,G2/3V,0.98,0.06,V-K
2,HIP 3206,HIP 3206,HD 3765,GJ 28,2MASS J00404929+4011133,1,0,0,0,0,...,7.36,0.01,G,0.94,0.02,G,K2V,0.37,0.05,V-K
3,HIP 3261,HIP 3261,NaN,GJ 1016,2MASS J00413051-3337317,1,0,0,0,0,...,10.53,0.01,Koen,1.44,0.01,Koen,NaN,0.06,0.11,V-K
4,HIP 3362,HIP 3362,NaN,GJ 29.1,2MASS J00424820+3532554,1,0,0,0,0,...,10.44,0.23,VT,1.54,0.23,BVT-G-Red,M1Ve+...,0.12,0.44,V-K

In [75]:
#read and Display CSV file
missionstars = pd.read_csv('Input/missionstars.csv')
missionstars.head()

,star_name,hip_name,hd_name,gj_name,tm_name,st_exocatflag,st_coronagflag,st_starshadeflag,st_wfirstflag,st_lbtiflag,...,st_vmag,st_vmagerr,st_vmagsrc,st_bmv,st_bmverr,st_bmvsrc,st_spttype,st_lbol,st_lbolerr,st_lbolsrc
0,HIP 3419,HIP 3419,HD 4128,GJ 31,2MASS J00433536-1759117,1,1,0,0,0,...,2.02,0.02,VT-G,1.04,0.02,BVT-G-Red,K0III,151.95,0.06,V-K
1,HIP 3765,HIP 3765,HD 4628,GJ 33,2MASS J00482303+0516497,1,1,1,1,1,...,5.74,0.01,G,0.89,0.01,G,K1V,0.30,0.05,V-K
2,HIP 3821 A,HIP 3821 A,HD 4614,GJ 34 A,2MASS J00490622+5748545,1,1,1,1,0,...,3.45,0.02,VT,0.57,0.02,BVT-Red,G3V,1.31,0.06,V-K
3,HIP 3909,HIP 3909,HD 4813,GJ 37,2MASS J00500759-1038394,1,0,1,0,0,...,5.16,0.02,VT,0.51,0.01,G,F7V,1.85,0.10,B-V
4,HIP 4151,HIP 4151,HD 5015,GJ 41,2MASS J00530419+6107262,1,1,0,0,0,...,4.80,0.01,G,0.54,0.01,G,F8V,3.66,0.05,V-K

In [83]:
#read and Display CSV file
ML = pd.read_csv('Input/ML.csv')
ML.head()

,pl_name,rastr,decstr,pl_masse,pl_masseerr1,pl_masseerr2,pl_masselim,pl_massj,pl_massjerr1,pl_massjerr2,...,ml_radeinang,ml_radeinangerr1,ml_radeinangerr2,ml_radeinanglim,ml_pmrells,ml_pmrellserr1,ml_pmrellserr2,ml_pmrellslim,ml_modeldef,htmllink
0,KMT-2019-BLG-1953L b,17h56m27.90s,-28d12m04.00s,NaN,NaN,NaN,0,NaN,NaN,NaN,...,0.250,0.020,-0.020,0.0,5.70,0.46,-0.46,0.0,0,<a refstr=HAN_ET_AL__2020 href=https://ui.adsa...
1,MOA-2013-BLG-605L b,17h58m42.85s,-29d23m53.66s,20.58,0.56,-6.66,0,0.06475,0.0018,-0.021,...,0.503,0.034,-0.034,0.0,9.03,0.63,-0.63,0.0,0,<a refstr=SUMI_ET_AL__2016 href=https://ui.ads...
2,KMT-2019-BLG-1953L b,17h56m27.90s,-28d12m04.00s,NaN,NaN,NaN,0,NaN,NaN,NaN,...,0.250,0.020,-0.020,0.0,5.70,0.46,-0.46,0.0,0,<a refstr=HAN_ET_AL__2020 href=https://ui.adsa...
3,OGLE-2005-BLG-390L b,17h54m19.2s,-30d22m38s,5.50,5.50,-2.70,0,0.01700,0.0170,-0.009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,<a refstr=BEAULIEU_ET_AL__2006 href=https://ui...
4,OGLE-2012-BLG-0950L b,18h08m04.62s,-29d43m53.7s,36.00,8.00,-6.00,0,0.11000,0.0300,-0.020,...,0.860,0.150,-0.060,0.0,4.60,0.90,-0.30,0.0,0,<a refstr=KOSHIMOTO_ET_AL__2017 href=https://u...

In [84]:
#read and Display CSV file
oec = pd.read_csv('Input/oec.csv')
oec.head()

,PlanetIdentifier,TypeFlag,PlanetaryMassJpt,RadiusJpt,PeriodDays,SemiMajorAxisAU,Eccentricity,PeriastronDeg,LongitudeDeg,AscendingNodeDeg,...,LastUpdated,RightAscension,Declination,DistFromSunParsec,HostStarMassSlrMass,HostStarRadiusSlrRad,HostStarMetallicity,HostStarTempK,HostStarAgeGyr,ListsPlanetIsOn
0,HD 143761 b,0,1.0450,NaN,39.845800,0.2196,0.037,270.6,NaN,NaN,...,16/07/11,16 01 03,+33 18 13,17.236,0.889,1.362,-0.31,5627.0,NaN,Confirmed planets
1,HD 143761 c,0,0.0790,NaN,102.540000,0.4123,0.050,190.0,NaN,NaN,...,16/07/11,16 01 03,+33 18 13,17.236,0.889,1.362,-0.31,5627.0,NaN,Confirmed planets
2,KOI-1843.03,0,0.0014,0.054,0.176891,0.0048,NaN,NaN,NaN,NaN,...,13/07/15,19 00 03.14,+40 13 14.7,NaN,0.460,0.450,0.00,3584.0,NaN,Controversial
3,KOI-1843.01,0,NaN,0.114,4.194525,0.0390,NaN,NaN,NaN,NaN,...,NaN,19 00 03.14,+40 13 14.7,NaN,0.460,0.450,0.00,3584.0,NaN,Controversial
4,KOI-1843.02,0,NaN,0.071,6.356006,0.0520,NaN,NaN,NaN,NaN,...,NaN,19 00 03.14,+40 13 14.7,NaN,0.460,0.450,0.00,3584.0,NaN,Controversial

In [85]:
#read and Display CSV file
q1_q6_koi = pd.read_csv('Input/q1_q6_koi.csv')
q1_q6_koi.head()

,kepid,kepoi_name,kepler_name,koi_disposition,koi_pdisposition,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,koi_fpflag_ec,...,koi_slogg,koi_slogg_err1,koi_slogg_err2,koi_srad,koi_srad_err1,koi_srad_err2,ra_str,dec_str,koi_kepmag,koi_kepmag_err
0,8247638,K00907.04,Kepler-251 e,CONFIRMED,CANDIDATE,NaN,NaN,NaN,NaN,NaN,...,4.320,NaN,NaN,1.09,NaN,NaN,19h46m15.89s,+44d06m21.1s,15.223,NaN
1,8255887,K00908.01,Kepler-720 b,CONFIRMED,CANDIDATE,NaN,NaN,NaN,NaN,NaN,...,4.200,NaN,NaN,1.29,NaN,NaN,19h54m32.56s,+44d10m15.4s,15.113,NaN
2,8256049,K00909.01,NaN,FALSE POSITIVE,FALSE POSITIVE,NaN,NaN,NaN,NaN,NaN,...,4.733,NaN,NaN,NaN,NaN,NaN,19h54m42.87s,+44d10m31.8s,15.654,NaN
3,8414716,K00910.01,Kepler-721 b,CONFIRMED,CANDIDATE,NaN,NaN,NaN,NaN,NaN,...,4.620,NaN,NaN,0.75,NaN,NaN,18h57m43.32s,+44d28m49.9s,15.651,NaN
4,8490993,K00911.01,Kepler-722 b,CONFIRMED,CANDIDATE,NaN,NaN,NaN,NaN,NaN,...,4.520,NaN,NaN,0.91,NaN,NaN,19h21m03.19s,+44d33m23.2s,15.399,NaN

In [86]:
#read and Display CSV file
q1_q8_koi = pd.read_csv('Input/q1_q8_koi.csv')
q1_q8_koi.head()

,kepid,kepoi_name,kepler_name,koi_disposition,koi_pdisposition,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,koi_fpflag_ec,...,koi_slogg,koi_slogg_err1,koi_slogg_err2,koi_srad,koi_srad_err1,koi_srad_err2,ra_str,dec_str,koi_kepmag,koi_kepmag_err
0,9388479,K00936.02,Kepler-732 c,CONFIRMED,CANDIDATE,NaN,NaN,NaN,NaN,NaN,...,4.76,0.3,-0.3,0.496,0.023,-0.023,18h54m55.69s,+45d57m31.6s,15.073,NaN
1,8359498,K00127.01,Kepler-77 b,CONFIRMED,CANDIDATE,NaN,NaN,NaN,NaN,NaN,...,4.45,0.1,-0.1,1.039,0.045,-0.045,19h18m25.91s,+44d20m43.5s,13.938,NaN
2,9406990,K00937.01,Kepler-733 b,CONFIRMED,CANDIDATE,NaN,NaN,NaN,NaN,NaN,...,4.60,0.3,-0.3,0.780,0.240,-0.240,19h32m04.39s,+45d54m52.9s,15.412,NaN
3,9415172,K00938.01,Kepler-255 c,CONFIRMED,CANDIDATE,NaN,NaN,NaN,NaN,NaN,...,4.58,0.3,-0.3,0.800,0.380,-0.380,19h44m15.42s,+45d58m36.6s,15.596,NaN
4,9415172,K00938.02,Kepler-255 d,CONFIRMED,CANDIDATE,NaN,NaN,NaN,NaN,NaN,...,4.58,0.3,-0.3,0.800,0.380,-0.380,19h44m15.42s,+45d58m36.6s,15.596,NaN

In [87]:
#read and Display CSV file
q1_q12_koi = pd.read_csv('Input/q1_q12_koi.csv')
q1_q12_koi.head()

,kepid,kepoi_name,kepler_name,koi_disposition,koi_pdisposition,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,koi_fpflag_ec,...,koi_slogg,koi_slogg_err1,koi_slogg_err2,koi_srad,koi_srad_err1,koi_srad_err2,ra_str,dec_str,koi_kepmag,koi_kepmag_err
0,6422070,K00852.01,Kepler-704 b,CONFIRMED,NOT DISPOSITIONED,NaN,0,0,0,0,...,4.472,0.057,-0.276,0.949,0.376,-0.089,18h53m15.93s,+41d50m13.6s,15.257,NaN
1,9471974,K00119.01,Kepler-108 B b,CONFIRMED,NOT DISPOSITIONED,NaN,0,0,0,0,...,3.900,0.035,-0.035,2.192,0.121,-0.121,19h38m14.20s,+46d03m44.4s,12.654,NaN
2,6428700,K00853.01,Kepler-242 b,CONFIRMED,NOT DISPOSITIONED,NaN,0,0,0,0,...,4.499,0.074,-0.605,0.826,0.399,-0.074,19h06m15.77s,+41d48m30.2s,15.376,NaN
3,6428700,K00853.02,Kepler-242 c,CONFIRMED,NOT DISPOSITIONED,NaN,0,0,0,0,...,4.499,0.074,-0.605,0.826,0.399,-0.074,19h06m15.77s,+41d48m30.2s,15.376,NaN
4,6435936,K00854.01,Kepler-705 b,CONFIRMED,NOT DISPOSITIONED,NaN,0,0,0,0,...,4.784,0.077,-0.077,0.470,0.060,-0.060,19h18m02.04s,+41d48m43.6s,15.849,NaN

In [88]:
#read and Display CSV file
q1_q12_stellar = pd.read_csv('Input/q1_q12_stellar.csv')
q1_q12_stellar.head()

,st_delivname,kepid,tm_designation,ra,dec,kepmag,teff,teff_err1,teff_err2,teff_prov,...,mass_err2,dens,dens_err1,dens_err2,prov_sec,nconfp,nkoi,ntce,st_quarters,st_vet_date_str
0,q1_q12_stellar,10002413,2MASS J19103477+4657082,287.64490,46.952301,14.487,5708,88.0,-88.0,Pinsonneault,...,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,2013-03-27
1,q1_q12_stellar,10002443,2MASS J19103873+4656594,287.66138,46.949848,12.887,4896,56.0,-56.0,Pinsonneault,...,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,2013-03-27
2,q1_q12_stellar,10002456,2MASS J19104063+4655140,287.66931,46.920559,15.976,5642,92.0,-92.0,Pinsonneault,...,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,2013-03-27
3,q1_q12_stellar,10002462,2MASS J19104115+4658344,287.67148,46.976231,10.441,9877,198.0,-198.0,Pinsonneault,...,NaN,NaN,NaN,NaN,NaN,0,0,3,NaN,2013-03-27
4,q1_q12_stellar,10002490,2MASS J19104670+4654182,287.69461,46.905060,12.703,5577,59.0,-59.0,Pinsonneault,...,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,2013-03-27

In [89]:
#read and Display CSV file
q1_q12_tce = pd.read_csv('Input/q1_q12_tce.csv')
q1_q12_tce.head()

,kepid,tce_plnt_num,tce_rogue_flag,tce_period,tce_period_err,tce_time0bk,tce_time0bk_err,tce_impact,tce_impact_err,tce_duration,...,tce_eqt,tce_eqt_err,tce_insol,tce_insol_err,tce_steff,tce_steff_err,tce_slogg,tce_slogg_err,tce_sradius,tce_sradius_err
0,1294670,2,NaN,0.822949,0.000020,132.311,0.008224,0.000202,49580.000,3.893,...,3210.0,648.0,NaN,NaN,7306.0,212.0,4.04,0.20,NaN,NaN
1,1294756,1,NaN,0.530191,0.000009,131.977,0.001546,0.019960,187.700,1.961,...,4840.0,715.0,NaN,NaN,8629.0,229.0,3.91,0.18,NaN,NaN
2,1294756,2,NaN,0.530198,0.000012,131.701,0.002176,0.283700,4.951,1.910,...,4840.0,715.0,NaN,NaN,8629.0,229.0,3.91,0.18,NaN,NaN
3,1296164,1,NaN,1.961050,0.000016,132.309,0.003227,0.011360,258.500,7.397,...,2230.0,542.0,NaN,NaN,6976.0,168.0,4.08,0.21,NaN,NaN
4,757450,1,NaN,8.884920,0.000002,134.451,0.000139,0.000148,460.800,2.088,...,722.0,286.0,NaN,NaN,5154.0,90.0,4.54,0.36,NaN,NaN

In [90]:
#read and Display CSV file
q1_q16_koi = pd.read_csv('Input/q1_q16_koi.csv')
q1_q16_koi.head()

,kepid,kepoi_name,kepler_name,koi_disposition,koi_pdisposition,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,koi_fpflag_ec,...,koi_slogg,koi_slogg_err1,koi_slogg_err2,koi_srad,koi_srad_err1,koi_srad_err2,ra_str,dec_str,koi_kepmag,koi_kepmag_err
0,11446443,K00001.01,Kepler-1 b,CONFIRMED,NOT DISPOSITIONED,NaN,0,0,0,0,...,4.455,0.025,-0.025,0.950,0.020,-0.020,19h07m14.03s,+49d18m59.0s,11.338,NaN
1,10666592,K00002.01,Kepler-2 b,CONFIRMED,NOT DISPOSITIONED,NaN,0,0,0,0,...,4.021,0.011,-0.011,1.991,0.018,-0.018,19h28m59.35s,+47d58m10.3s,10.463,NaN
2,6678383,K00111.02,Kepler-104 A c,CONFIRMED,CANDIDATE,NaN,0,0,0,0,...,4.081,0.213,-0.115,1.361,0.225,-0.305,19h10m25.11s,+42d10m00.4s,12.596,NaN
3,6922244,K00010.01,Kepler-8 b,CONFIRMED,NOT DISPOSITIONED,NaN,0,0,0,0,...,4.169,0.055,-0.048,1.451,0.117,-0.129,18h45m09.15s,+42d27m03.9s,13.563,NaN
4,9873254,K00717.01,Kepler-653 b,CONFIRMED,NOT DISPOSITIONED,NaN,0,0,0,0,...,4.391,0.065,-0.167,1.095,0.247,-0.094,18h48m51.10s,+46d43m04.1s,13.387,NaN

In [91]:
#read and Display CSV file
q1_q16_stellar = pd.read_csv('Input/q1_q16_stellar.csv')
q1_q16_stellar.head()

,st_delivname,kepid,tm_designation,ra,dec,kepmag,teff,teff_err1,teff_err2,teff_prov,...,mass_err2,dens,dens_err1,dens_err2,prov_sec,nconfp,nkoi,ntce,st_quarters,st_vet_date_str
0,q1_q16_stellar,9770862,2MASS J19274858+4630098,291.95245,46.502739,13.852,5910,157.0,-163.0,PHO1,...,-0.0941,1.139000,0.589800,-0.653200,DSEP,0,0,0,11111111111111111,2013-12-03
1,q1_q16_stellar,9770895,2MASS J19275096+4630422,291.96234,46.511730,15.760,5101,155.0,-140.0,PHO1,...,-0.0471,3.206000,0.646000,-0.779500,DSEP,0,0,0,11111111111111111,2013-12-03
2,q1_q16_stellar,9770983,2MASS J19275843+4630578,291.99350,46.516071,14.270,5977,157.0,-232.0,PHO1,...,-0.1446,1.493000,0.293600,-0.885600,DSEP,0,1,0,11111111111111111,2013-12-03
3,q1_q16_stellar,9770992,2MASS J19275926+4631114,291.99692,46.519852,10.531,4904,107.0,-145.0,PHO1,...,-0.9773,0.001748,0.004289,-0.000961,DSEP,0,0,0,11111111111111111,2013-12-03
4,q1_q16_stellar,9771031,2MASS J19280394+4630130,292.01642,46.503632,12.304,4860,80.0,-185.0,PHO1,...,-1.7093,0.001769,0.000878,-0.000165,DSEP,0,0,0,11101111111111100,2013-12-03

In [92]:
#read and Display CSV file
q1_q16_tce = pd.read_csv('Input/q1_q16_tce.csv')
q1_q16_tce.head()

,kepid,tce_plnt_num,tce_rogue_flag,tce_period,tce_period_err,tce_time0bk,tce_time0bk_err,tce_impact,tce_impact_err,tce_duration,...,tce_eqt,tce_eqt_err,tce_insol,tce_insol_err,tce_steff,tce_steff_err,tce_slogg,tce_slogg_err,tce_sradius,tce_sradius_err
0,757450,1,NaN,8.88492,0.000001,134.452,0.000103,0.06418,0.7937,2.088,...,770.0,28.2,NaN,NaN,5332.0,105.0,4.50,0.05,0.843,0.052
1,892376,1,NaN,491.54300,0.010278,453.748,0.013445,0.66400,4.7610,3.610,...,134.0,12.4,NaN,NaN,3973.0,179.0,4.66,0.09,0.605,0.098
2,892376,2,NaN,388.33300,0.029966,323.769,0.048692,0.73670,10.9700,4.995,...,145.0,13.5,NaN,NaN,3973.0,179.0,4.66,0.09,0.605,0.098
3,892376,3,NaN,463.22200,0.009029,214.530,0.012375,0.49900,3.9220,7.063,...,137.0,12.7,NaN,NaN,3973.0,179.0,4.66,0.09,0.605,0.098
4,2159486,2,NaN,562.47600,0.013462,369.463,0.018198,0.06987,28.2400,15.770,...,168.0,14.5,NaN,NaN,4914.0,203.0,4.58,0.07,0.707,0.107

In [93]:
#read and Display CSV file
q1_q17_dr24_koi = pd.read_csv('Input/q1_q17_dr24_koi.csv')
q1_q17_dr24_koi.head()

,kepid,kepoi_name,kepler_name,koi_disposition,koi_pdisposition,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,koi_fpflag_ec,...,koi_slogg,koi_slogg_err1,koi_slogg_err2,koi_srad,koi_srad_err1,koi_srad_err2,ra_str,dec_str,koi_kepmag,koi_kepmag_err
0,7697568,K01829.01,NaN,CANDIDATE,CANDIDATE,NaN,0,0,0,0,...,4.543,0.038,-0.231,0.822,0.298,-0.068,19h46m05.38s,+43d21m48.1s,15.911,NaN
1,5730445,K02189.01,NaN,CANDIDATE,CANDIDATE,NaN,0,0,0,0,...,4.515,0.067,-0.788,0.799,1.279,-0.076,19h52m17.94s,+40d56m56.4s,15.253,NaN
2,8733497,K03527.01,NaN,CANDIDATE,CANDIDATE,NaN,0,0,0,0,...,4.579,0.032,-0.261,0.785,0.319,-0.059,18h48m00.21s,+44d57m38.8s,14.063,NaN
3,4255422,K03528.01,NaN,CANDIDATE,CANDIDATE,NaN,0,0,0,0,...,3.759,0.491,-0.228,2.185,0.941,-1.051,19h18m47.29s,+39d22m17.9s,12.724,NaN
4,9837544,K03529.01,NaN,FALSE POSITIVE,FALSE POSITIVE,NaN,0,1,0,0,...,4.497,0.078,-0.606,0.824,0.725,-0.084,19h37m56.73s,+46d40m34.1s,15.167,NaN

In [94]:
#read and Display CSV file
q1_q17_dr24_stellar = pd.read_csv('Input/q1_q17_dr24_stellar.csv')
q1_q17_dr24_stellar.head()

,st_delivname,kepid,tm_designation,ra,dec,kepmag,teff,teff_err1,teff_err2,teff_prov,...,mass_err2,dens,dens_err1,dens_err2,prov_sec,nconfp,nkoi,ntce,st_quarters,st_vet_date_str
0,q1_q17_dr24_stellar,10022892,2MASS J19444068+4656575,296.16953,46.949329,15.799,4862,169.0,-136.0,PHO1,...,-0.065,2.347,0.3124,-0.5230,DSEP,0,0,0,11111101110111011,2015-01-15
1,q1_q17_dr24_stellar,10022896,2MASS J19444107+4659087,296.17114,46.985760,15.767,6065,142.0,-231.0,PHO1,...,-0.172,1.370,0.3151,-0.7296,DSEP,0,0,0,11111101110111011,2015-01-15
2,q1_q17_dr24_stellar,10022908,2MASS J19444255+4659564,296.17728,46.999020,14.940,4848,151.0,-126.0,PHO1,...,-0.077,2.644,0.2472,-0.5611,DSEP,1,1,1,11111101110111011,2015-01-15
3,q1_q17_dr24_stellar,10022925,2MASS J19444430+4658488,296.18460,46.980240,13.529,6343,140.0,-233.0,PHO1,...,-0.205,1.164,0.3162,-0.7985,DSEP,0,0,0,11111101110111011,2015-01-15
4,q1_q17_dr24_stellar,10022963,2MASS J19444620+4654451,296.19250,46.912540,15.216,5926,163.0,-182.0,PHO1,...,-0.117,1.858,0.3207,-1.0560,DSEP,0,0,0,1110101010101010,2015-01-15

In [95]:
#read and Display CSV file
q1_q17_dr24_tce = pd.read_csv('Input/q1_q17_dr24_tce.csv')
q1_q17_dr24_tce.head()

,kepid,tce_plnt_num,tce_rogue_flag,tce_period,tce_period_err,tce_time0bk,tce_time0bk_err,tce_impact,tce_impact_err,tce_duration,...,tce_eqt,tce_eqt_err,tce_insol,tce_insol_err,tce_steff,tce_steff_err,tce_slogg,tce_slogg_err,tce_sradius,tce_sradius_err
0,1162345,2,NaN,0.831850,0.000067,132.227,0.035197,0.92600,1.471,2.392,...,2760.0,637.0,NaN,NaN,6510.0,207.0,4.07,0.26,1.728,0.791
1,1292087,2,NaN,1.095240,0.000010,132.133,0.002685,0.25630,13.310,2.122,...,2310.0,661.0,NaN,NaN,6328.0,207.0,4.15,0.29,1.502,0.852
2,1293031,2,NaN,0.719273,0.000014,132.227,0.002786,0.70000,1.103,1.521,...,3330.0,703.0,NaN,NaN,6363.0,214.0,3.80,0.35,2.489,1.036
3,1162345,3,NaN,0.831833,0.000009,131.919,0.002209,0.09536,51.770,2.181,...,2760.0,637.0,NaN,NaN,6510.0,207.0,4.07,0.26,1.728,0.791
4,1164109,1,NaN,622.408000,0.008547,162.256,0.009840,0.00319,2193.000,12.010,...,302.0,75.0,NaN,NaN,6609.0,200.0,4.11,0.28,1.654,0.816

In [96]:
#read and Display CSV file
q1_q17_dr25_koi = pd.read_csv('Input/q1_q17_dr25_koi.csv')
q1_q17_dr25_koi.head()

,kepid,kepoi_name,kepler_name,koi_disposition,koi_pdisposition,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,koi_fpflag_ec,...,koi_slogg,koi_slogg_err1,koi_slogg_err2,koi_srad,koi_srad_err1,koi_srad_err2,ra_str,dec_str,koi_kepmag,koi_kepmag_err
0,10811496,K00753.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.0,0,1,0,0,...,4.544,0.044,-0.176,0.868,0.233,-0.078,19h48m01.16s,+48d08m02.9s,15.436,NaN
1,10848459,K00754.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.0,0,1,0,0,...,4.564,0.053,-0.168,0.791,0.201,-0.067,19h02m08.31s,+48d17m06.8s,15.597,NaN
2,10854555,K00755.01,Kepler-664 b,CONFIRMED,CANDIDATE,1.0,0,0,0,0,...,4.438,0.070,-0.210,1.046,0.334,-0.133,19h15m01.17s,+48d13m34.3s,15.509,NaN
3,10872983,K00756.01,Kepler-228 d,CONFIRMED,CANDIDATE,1.0,0,0,0,0,...,4.486,0.054,-0.229,0.972,0.315,-0.105,19h45m08.67s,+48d13m28.8s,15.714,NaN
4,10872983,K00756.02,Kepler-228 c,CONFIRMED,CANDIDATE,1.0,0,0,0,0,...,4.486,0.054,-0.229,0.972,0.315,-0.105,19h45m08.67s,+48d13m28.8s,15.714,NaN

In [64]:
#read and Display CSV file
q1_q17_dr25_stellar = pd.read_csv('Input/q1_q17_dr25_stellar.csv')
q1_q17_dr25_stellar.head()

,st_delivname,kepid,tm_designation,ra,dec,kepmag,teff,teff_err1,teff_err2,teff_prov,...,mass_err2,dens,dens_err1,dens_err2,prov_sec,nconfp,nkoi,ntce,st_quarters,st_vet_date_str
0,q1_q17_dr25_stellar,10000785,2MASS J19065600+4658027,286.73337,46.967442,15.749,5333,177.0,-161.0,PHO1,...,-0.024,3.262000,0.888300,-0.583600,DSEP,0,0,2,1111111111111111,2017-03-23
1,q1_q17_dr25_stellar,10000797,2MASS J19065719+4658415,286.73831,46.978222,13.994,6289,170.0,-207.0,PHO1,...,-0.110,0.800200,0.756300,-0.392400,DSEP,0,0,0,11111111111111111,2017-03-23
2,q1_q17_dr25_stellar,10000800,2MASS J19065751+4657575,286.73962,46.965969,15.379,5692,152.0,-169.0,PHO1,...,-0.115,2.090000,0.389800,-1.037000,DSEP,0,0,0,11111111111111111,2017-03-23
3,q1_q17_dr25_stellar,10000823,2MASS J19065956+4655093,286.74817,46.919250,15.558,6580,212.0,-345.0,PHO1,...,-0.201,1.050000,0.412900,-0.565700,DSEP,0,0,0,11111111111111111,2017-03-23
4,q1_q17_dr25_stellar,10000827,2MASS J19065980+4657282,286.74918,46.957829,14.841,5648,152.0,-169.0,PHO1,...,-0.115,2.221000,0.456900,-1.006000,DSEP,0,0,0,11111111111111111,2017-03-23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200033,q1_q17_dr25_stellar,9999901,2MASS J19044516+4659174,286.18817,46.988190,13.252,5067,167.0,-152.0,PHO1,...,-0.083,2.381000,0.369300,-0.595700,DSEP,0,0,0,11111111111111111,2017-03-23
200034,q1_q17_dr25_stellar,9999911,2MASS J19044660+4657227,286.19421,46.956322,15.019,5188,71.0,-153.0,PHO1,...,-0.767,0.009352,0.003415,-0.000699,DSEP,0,0,0,11111111111111111,2017-03-23
200035,q1_q17_dr25_stellar,9999914,2MASS J19044683+4655410,286.19516,46.928070,15.541,6156,220.0,-270.0,PHO1,...,-0.162,1.357000,0.424200,-0.758900,DSEP,0,0,0,1100000000000000,2017-03-23
200036,q1_q17_dr25_stellar,9999949,2MASS J19045272+4656462,286.21967,46.946190,15.723,6205,198.0,-298.0,PHO1,...,-0.170,1.243000,0.394500,-0.667700,DSEP,0,0,0,1100000000000000,2017-03-23
200037,q1_q17_dr25_stellar,9999979,2MASS J19045706+4654374,286.23779,46.910412,16.471,5311,191.0,-191.0,KIC0,...,-0.104,2.546000,0.463100,-0.871300,DSEP,0,0,0,110000000000000,2017-03-23

In [65]:
#read and Display CSV file
q1_q17_dr25_sup_koi = pd.read_csv('Input/q1_q17_dr25_sup_koi.csv')
q1_q17_dr25_sup_koi.head()

,kepid,kepoi_name,kepler_name,koi_disposition,koi_pdisposition,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,koi_fpflag_ec,...,koi_slogg,koi_slogg_err1,koi_slogg_err2,koi_srad,koi_srad_err1,koi_srad_err2,ra_str,dec_str,koi_kepmag,koi_kepmag_err
0,10265898,K00732.03,NaN,CANDIDATE,CANDIDATE,NaN,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,19h13m18.70s,+47d22m53.7s,15.342,NaN
1,10271806,K00733.01,Kepler-224 c,CONFIRMED,CANDIDATE,NaN,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,19h23m44.23s,+47d21m27.4s,15.644,NaN
2,10271806,K00733.02,Kepler-224 d,CONFIRMED,CANDIDATE,NaN,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,19h23m44.23s,+47d21m27.4s,15.644,NaN
3,10984090,K00112.02,Kepler-466 c,CONFIRMED,CANDIDATE,NaN,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,19h42m35.69s,+48d29m44.0s,12.772,NaN
4,10271806,K00733.03,Kepler-224 b,CONFIRMED,CANDIDATE,NaN,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,19h23m44.23s,+47d21m27.4s,15.644,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9559,7115200,K06821.01,NaN,FALSE POSITIVE,FALSE POSITIVE,NaN,1,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,19h23m52.49s,+42d37m10.8s,12.766,NaN
9560,7115332,K06822.01,NaN,FALSE POSITIVE,FALSE POSITIVE,NaN,1,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,19h24m03.54s,+42d39m11.9s,14.944,NaN
9561,7115463,K06823.01,NaN,FALSE POSITIVE,FALSE POSITIVE,NaN,1,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,19h24m15.60s,+42d38m11.9s,15.124,NaN
9562,7115597,K06824.01,NaN,FALSE POSITIVE,FALSE POSITIVE,NaN,1,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,19h24m25.12s,+42d38m43.1s,15.915,NaN
9563,7115878,K06825.01,NaN,FALSE POSITIVE,FALSE POSITIVE,NaN,1,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,19h24m47.89s,+42d41m12.2s,14.897,NaN

In [66]:
#read and Display CSV file
q1_q17_dr25_supp_stellar = pd.read_csv('Input/q1_q17_dr25_supp_stellar.csv')
q1_q17_dr25_supp_stellar.head()

,st_delivname,kepid,tm_designation,ra,dec,kepmag,teff,teff_err1,teff_err2,teff_prov,...,mass_err2,dens,dens_err1,dens_err2,prov_sec,nconfp,nkoi,ntce,st_quarters,st_vet_date_str
0,q1_q17_dr25_supp_stellar,891916,2MASS J19234997+3641118,290.95822,36.686611,14.799,5602,167,-151,PHO1,...,-0.062,2.67700,0.568600,-0.91230,DSEP,0,0,0,NaN,2018-01-06
1,q1_q17_dr25_supp_stellar,2285040,2MASS J19063609+3739006,286.65039,37.650188,15.036,5941,195,-195,KIC0,...,-0.087,1.33000,0.796900,-0.67960,DSEP,0,0,0,NaN,2018-01-06
2,q1_q17_dr25_supp_stellar,2285109,2MASS J19064119+3741168,286.67163,37.688000,13.134,6056,182,-182,PHO1,...,-0.389,0.05937,0.183100,-0.02267,DSEP,0,0,0,NaN,2018-01-06
3,q1_q17_dr25_supp_stellar,1160891,2MASS J19234186+3649419,290.92444,36.828320,13.210,6842,72,-92,SPE68,...,-0.095,0.47730,0.172300,-0.16570,DSEP,0,0,0,NaN,2018-01-06
4,q1_q17_dr25_supp_stellar,1160919,2MASS J19234332+3650457,290.93051,36.846031,14.236,6200,199,-243,KIC0,...,-0.177,0.30460,0.765700,-0.12360,DSEP,0,0,0,NaN,2018-01-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197091,q1_q17_dr25_supp_stellar,12115374,2MASS J19361519+5038394,294.06332,50.644291,13.402,5028,86,-172,PHO1,...,-0.690,0.02002,0.006401,-0.00177,DSEP,0,0,0,NaN,2018-01-06
197092,q1_q17_dr25_supp_stellar,12115380,2MASS J19361579+5037288,294.06580,50.624680,16.361,10906,304,-457,KIC0,...,-0.674,0.22980,0.394000,-0.11210,DSEP,0,0,0,NaN,2018-01-06
197093,q1_q17_dr25_supp_stellar,12115387,2MASS J19361666+5039510,294.06943,50.664188,14.480,5093,152,-137,PHO1,...,-0.069,2.20200,0.511500,-0.49710,DSEP,0,0,0,NaN,2018-01-06
197094,q1_q17_dr25_supp_stellar,12115393,2MASS J19361722+5038207,294.07175,50.639091,14.087,6335,156,-203,PHO1,...,-0.154,1.28000,0.351900,-0.65670,DSEP,0,0,0,NaN,2018-01-06
197095,q1_q17_dr25_supp_stellar,12115424,2MASS J19362115+5037505,294.08813,50.630699,15.357,5931,148,-178,PHO1,...,-0.110,2.18200,0.382400,-0.99180,DSEP,0,0,0,NaN,2018-01-06

In [67]:
#read and Display CSV file
q1_q17_dr25_tce = pd.read_csv('Input/q1_q17_dr25_tce.csv')
q1_q17_dr25_tce.head()

,kepid,tce_plnt_num,tce_rogue_flag,tce_period,tce_period_err,tce_time0bk,tce_time0bk_err,tce_impact,tce_impact_err,tce_duration,...,tce_eqt,tce_eqt_err,tce_insol,tce_insol_err,tce_steff,tce_steff_err,tce_slogg,tce_slogg_err,tce_sradius,tce_sradius_err
0,2304168,2,0,431.719000,0.011803,219.298,0.018384,0.9308,0.03871,13.220,...,494.0,104.0,14.09,11.85,7221.0,327.0,3.67,0.49,3.332,1.718
1,2304235,1,0,0.570607,0.000006,132.049,0.000699,0.9000,0.26870,1.160,...,0.0,-1.0,0.00,-1.00,4896.0,172.0,2.12,0.56,26.320,17.390
2,2304566,1,0,0.689480,0.000048,131.833,0.019838,0.3085,45.49000,5.236,...,0.0,-1.0,0.00,-1.00,7059.0,269.0,3.29,0.43,5.894,2.825
3,2304320,1,0,16.540800,0.000043,133.952,0.002193,0.8848,0.22350,2.715,...,570.0,16.6,24.93,2.91,5064.0,101.0,4.57,0.05,0.769,0.049
4,2303365,2,0,0.520697,0.000009,132.003,0.000916,0.9008,0.41550,1.035,...,0.0,-1.0,0.00,-1.00,7517.0,339.0,3.64,0.46,3.603,1.762
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34027,11912947,6,0,522.609000,-1.000000,501.352,-1.000000,0.1000,-1.00000,3.500,...,92.3,-1.0,0.02,-1.00,3440.0,44.0,4.93,0.04,0.321,0.033
34028,11922283,3,1,256.782000,0.011573,224.233,0.037080,0.9854,0.06395,10.160,...,956.0,130.0,197.89,107.61,7120.0,274.0,2.89,0.30,11.110,4.219
34029,11922283,4,0,0.878715,0.000013,132.314,0.007274,1.0000,0.15830,8.534,...,0.0,-1.0,0.00,-1.00,7120.0,274.0,2.89,0.30,11.110,4.219
34030,11922290,1,0,114.662000,0.001332,237.232,0.009527,0.8479,2.56400,2.743,...,317.0,15.7,2.37,0.47,5412.0,161.0,4.56,0.09,0.712,0.082
34031,11922648,1,0,1.756410,0.000015,132.058,0.004022,0.6787,1.41600,2.952,...,1370.0,117.0,825.49,283.45,5696.0,154.0,4.57,0.18,0.812,0.222